#language-compare {
    gap: 2rem;
}

.languages-dropdown,
.comparison {
    width: 100%;
}
.languages-dropdown > div,
.comparison > div {
    width: 33.333333%;
}

.languages-dropdown {
    display: flex;
    flex-direction: row;
}

.languages-dropdown > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.languages-dropdown > div > label {
    margin-right: 2rem;
}

.languages-dropdown > div > select {
    padding: 2px 5px;
    background-color: transparent;
    border: 1px solid var(--light);
    border-radius: 20px;
}

.comparison {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.comparison > div {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}