#home {
    gap:2.5rem;
}
#home .content > h1 {
    font-size: 4.5rem;
    line-height: 1;
    font-weight: 600;
}
#home .content > p {
    padding: 30px 150px;
    text-align: justify;

}
#home .content > h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
}
#home .content > img {
    width: 25%;
    max-width: 300px;
    min-width: 150px;
}

.content-grid {
    display: grid;
    gap: 6rem;
    row-gap: 4rem;
    margin-bottom: 60px;
}

#home .content .buttons-container {
    display: flex;
    flex-direction: row;
    gap: 5rem;
}



@media screen and (min-width: 1280px) {
    .content-grid {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    #home .content > p {
        text-align: center;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .content-grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .content-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    #home .content > p {
        padding: 30px 60px;
    }
}
@media screen and (max-width: 767px) {
    #home .content > h1 {
        font-size: 2.5rem;
    }
    #home .content > p {
        padding: 30px 60px;
    }
    .content-grid {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 2rem;
    }
    #home .content .buttons-container {
        flex-direction: column;
        gap: 1.25rem;
    }
}
