.container-main-support > p {
    font-size: 3rem;
    line-height: 1;
    font-weight: 600;
    margin-bottom: 5rem;
}

.container-main-support > div {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}