.container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--dark);
    /* color: var(--light); */
    overflow-x: hidden;
    overflow-y: visible;
}

.content {
    width: 100%;
    max-width: 1440px;
    height: 100%;
    margin-top: 4rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow-x: hidden;
    overflow-y: visible;
}

header {
    height: 4rem;
    color: var(--light);
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: var(--dark);
    box-shadow: 0px 2px 4px -1px rgba(255, 255, 255, 0.2), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

main,
header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    margin-top: 4rem;
}