.title > p {
    width: 100%;
    padding: 0.5rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
}
.title > p:hover {
    padding-left: 1rem;
}
.selectedItem {
    background-color: var(--dark-secondary);
    padding-left: 1rem;
}

.breaker > p {
    color: var(--breaker-text);
}
