.container {
    width: 100%;
    max-width: 1440px;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.dropdown,
.comparison {
    width: 100%;
}
.dropdown > div,
.comparison > div {
    width: 33.333333%;
}

.dropdown {
    display: flex;
    flex-direction: row;
}

.dropdown > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.dropdown > div > label {
    margin-right: 2rem;
}

.dropdown > div > select {
    padding: 2px 5px;
    background-color: transparent;
    border: 1px solid var(--light);
    border-radius: 20px;
}

.dropdown > div > select option {
    color: var(--light);
    background-color: var(--dark);
}
.dropdown > div > select option:checked {
    color: var(--dark);
    background-color: var(--light);
}

.comparison {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.comparison > div {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}